body {
  position: absolute;
  font-family: "Segoe UI-Regular";
  font-size: 24px;
  color: #707070;
  margin-left: 50px;
  margin-right: 50px;
}

.navigation {
  position: fixed;
  margin: 0px;
  padding: 24px 500px 24px 24px;
  background: white;
}

.navigation li {
  display: inline-block;
  margin: 0px 10px 0px 10px;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #707070;
}

#logo {
  margin-top: 80px;
}

.join {
  position: fixed;
  right: 0px;
}

.join button{
  border: 3px green solid;
  font-size: 24px;
  color: green;
  background-color: white;
}

.join img {
  width: 30px;
  vertical-align: middle;
}

#contact {
  text-align: center;
  background: grey;
}

#contact .col,h3 {
  color: #FFFFFF;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-flex;
  flex-direction: column;
  vertical-align: middle;
}

.picture img {
  width: 250px;
  height: auto;
  margin: 5px;
  float: right;
}

.col {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}


